
/********** General Outlay ****************************************/


/********** General Text Formating *****/

/* Color Schemes */
:root{
    --color-section1: #2980b9;
    --color-section2: #3293d2;
    --color-section3: #4ea1d8;
    --color-section4: #6ab0de;
    --color-section5: #86bfe4;
    
    --color-button-hover: #16709f;
}

.main-menu, .responsive-menu ul, .social-member, .progess-bars, .first-footer .social-footer ul {
    padding: 0;
    margin: 0; 
    list-style: none;
}

body { 
    font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif; 
    color: #777777; 
    font-weight: 300; 
    font-style: normal;
    font-size: 17px;
    
    /* Fix for webkit rendering */
    -webkit-font-smoothing: antialiased; 
    -webkit-text-size-adjust: 100%; 
}

a, a:hover, a:focus { 
    text-decoration: none; 
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in; 
    transition: all 150ms ease-in; 
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; 
}

*, *:before, *:after { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/********** Main Bar Formatting **********/
#main-sidebar { 
    float: left;
    width: 17%;
    height: 100%;
    position: fixed;
    background-color: #495054;
    color: white; 
    margin-left: 0%;
}

/* Logo Formating */

.logo { 
    margin: 90px 0;
    background-color: #2980b9;
    padding: 25px 25px;
    text-align: center;
}
.logo a { 
    color: white; 
}
.logo a h1 { 
    text-transform: uppercase;
    font-size: 190%;
    margin: 0;
    font-weight: 800;
}
.logo span {
    color: #bee3f6; 
    font-size: 80%;
}

/* Menu Button Formatting */

.main-menu { 
    text-align: center;
}
.main-menu li { 
    margin-bottom: 1px;
}
.main-menu li a { 
    color: white; 
    text-transform: uppercase;
    font-size: 110%;
    display: block;
    border-left: 10px solid;
    padding: 15px 30px;
    background-color: #383e41;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}
.main-menu li a:hover { 
    background-color: #34393b;
}

/****** Button Colors ******/
li a.active { color: #68c3ff; }

li.home a { border-color: var(--color-section1); ; }

li.resume a { border-color: var(--color-section2); }

li.portfolio a { border-color: var(--color-section3); }

li.about a { border-color: var(--color-section4); }

li.contact a { border-color: var(--color-section5); }


/********** General Main Content Formatting **********/
#main-content, .full-width-slider { 
    float: right; 
    width: 83%; 
}

.section-content {
    padding: 0 7%;
    margin-bottom: 100px;
}

.section-title { 
    border-top: 8px solid;
    margin-bottom: 50px;
    border-color: var(--color-section1);
}
.section-title h2 {
    display: inline-block;
    padding: 20px 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 300; margin: 0;
    font-size: 120%; 
}

a.largeButton { 
    color: white; 
    text-transform: uppercase; 
    font-weight: 700;
    font-size: 130%; 
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 3px solid;
}

a.largeButton.homeBgColor {
    border-color: #b4b4b4;
}


/********** Home Section *********************************************/

.homeBgColor {
    background: var(--color-section1);
}
.homeBgColor:hover { 
    background-color: var(--color-button-hover); 
}


/********** Resume Section *********************************************/

#resume h2 {
    background-color: var(--color-section2); 
}
#resume h4{
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 120%; 
    margin-bottom: 15px; 
}
#resume h5{
    font-weight: 600;
    font-size: 110%; 
    margin-bottom: 10px; 
}
#resume li{
    font-weight: 400;
}

.resume-item {
    background-color: var(--color-section2); 
    height: 80px;
    color: white;
    margin: 0 auto;
}
.resume-item .resume-icon { 
    width: 25%; 
    float: left; 
    overflow: hidden; 
    display: inline-block;
    text-align: center;
    margin-top: 20px; 
    height: 100%; 
}


.resume-item .resume-content { 
    width: 75%; 
    overflow: hidden;
    text-align: center; 
}
.resume-content{
    border-left: 3px;
    border-left-color: white;
    border-left-style:ridge;
    margin: auto auto;
    height: 100%;
}
.resume-item h3, .resume-content h3 {
    margin-top: 16px;
    font-size: 140%;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 10px;
}

.my-skills h3, .my-education h3, .my-expierence h3{ 
    color: var(--color-section2);
    font-weight: 300;
    text-transform: uppercase; 
    font-size: 170%; 
    margin-bottom: 15px; 
}

.my-skills {
    margin: 20px 5px;
}


.my-education {
    margin: 10px 5px;
}

.my-expierence{
    margin: 10px 5px;
}
.my-expierence-content{
    margin-top: 15px;
    margin-left: 25px;
}

.progress-bar { 
    background-color: var(--color-section2);
    text-transform: uppercase;
    font-size: 12px; 
}


/********** Portfolio Section *********************************************/

#portfolio h2 { 
    background-color: var(--color-section3); 
}

.portfolioBgColor {
    background: var(--color-section3);
}
.portfolioBgColor:hover {
    background-color: var(--color-button-hover); 
}

.portfolio-item { 
    background-color: #95a5a6;
    max-width:100%;
    position:relative;
}
.portfolio-content h3{
    margin-top: 20px;
    font-size: 250%;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.portfolio-content{
    width:50%;
    left:45%;
    position:absolute;
    display:inline;
    top:0%;
}
.portfolio-image{
    border: 20px 20px;
    border-color: #34495e;
    padding: 20px 20px;
    width: 45%;
}
.portfolio-textbox{
    font-weight: 100;
}

a.largeButton.portfolioBgColor { 
    border-color:  var(--color-button-hover);
}

.left-arrow-button, .right-arrow-button{
    background-color: var(--color-section3);
    opacity: 0.7;
    position:absolute;
    top:45%;
}
.left-arrow-button{
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    left:0%;
}
.right-arrow-button{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    right:55%
}

.portfolio-thumb { overflow: hidden; position: relative; }
.portfolio-thumb img { width: 100%; height: auto; }
.portfolio-thumb .overlay-p { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(41, 128, 185, 0.4); visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.portfolio-thumb .overlay-p a { position: absolute; top: 50%; margin-top: -12px; left: 50%; margin-left: -15px; color: white; }

.portfolio-item { margin-bottom: 40px; overflow: hidden; }
.portfolio-item:hover .overlay-p { visibility: visible; opacity: 1; }

.portfolio-title { width: 100%; text-align: center; }

.portfolio-title a { color: var(--color-section3); font-size: 18px; text-transform: uppercase; }

.load-more { width: 100%; text-align: center; }


/********** About Me Section *********************************************/

#about h2 {
    background-color: var(--color-section4); 
}

#about h3{
    color: var(--color-section4);
}

.about-thumb h3{
    
}
.about-thumb img{
    width: 100%;
    height: auto; 
}

.our-story { 
    margin-top: 80px; 
}
.our-story h3 { 
    font-weight: 300; 
    text-transform: uppercase; 
    font-size: 24px; 
    margin: 0 0 20px 0; 
}

.story-image {
    margin-top: 30px; 
    overflow: hidden; 
}
.story-image img {
    width: 100%;
    height: auto; 
}


/********** Contact Me Section *********************************************/

#contact h2 {
    background-color: var(--color-section5);
}

.contactBgColor { 
    background: var(--color-section5); 
}
.contactBgColor:hover { 
    background-color: var(--color-button-hover); 
}

a.largeButton.contactBgColor { 
    border-color:  var(--color-button-hover);
}

.contact-form {
    margin-top: 60px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    display: block;
    border: 1px solid #d5dbe0; 
    padding: 10px 15px;
    outline: 0;
}
.contact-form input { 
    height: 46px; 
    margin-bottom: 30px;
}
.contact-form label {
    font-weight: normal;
}
.contact-form label.required:after {
    content: "*";
    color: red; 
    margin-left: 5px; 
}

.submit-btn {
    margin-top: 30px; 
}


/********** Welcome Section Design *********************************************/

.welcome-text { padding: 60px; text-align: center; }
.welcome-text a { color: var(--color-section1); }
.welcome-text h2 { color: var(--color-section1); font-weight: 300; text-transform: uppercase; font-size: 32px; }
.welcome-text p { color: #aaaaaa; }


/********** Image Slider Design ************************************************/

.main-slider { width: 100%; height: 570px; }

.flexslider .slides { height: 570px; }

.slider-caption { position: absolute; vertical-align: middle; width: 100%; text-align: center; height: 100; z-index: 8; color: white; top: 200px; }
.slider-caption h2 { font-size: 48px; text-transform: uppercase; font-weight: 800; margin-bottom: 30px; }
.slider-caption p { font-size: 16px; text-transform: uppercase; letter-spacing: 2px; width: 50%; margin: 0 auto 30px auto; line-height: 1.8em; }

.flexslider { background-color: black; height: 570px; overflow: hidden; margin: 0; }

.flexslider img { position: relative; opacity: 0.5; width: 100%; z-index: 7; }

.flex-control-nav { bottom: 15px; z-index: 9; }

.flex-control-paging li a { background-color: white; border: 2px solid black; opacity: 0.6; }
.flex-control-paging li a:hover { opacity: 1; background: white; }
.flex-control-paging li a.flex-active { opacity: 1; background: white; }


/********** Footer Section Design *********************************************/

.first-footer { 
    background-color: #495054;
    padding: 25px; 
    text-align: center;
    border-left: 5px solid #313639;
}
.first-footer .social-footer ul li { 
    display: inline; 
}
.first-footer .social-footer ul li a {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0px 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: #313639;
    text-align: center; 
    line-height: 40px; 
    color: white; 
}

.bottom-footer { 
    background-color: #313639;
    color: #949da2; 
    padding: 25px 7% 16px 7%; 
}
.bottom-footer a {
    color: white;
}
.bottom-footer .credits { 
    text-align: right;
}


/********** Responsive Menu Design *********************************************/

a.menu-toggle-btn {
    width: 100%; 
    height: 60px;
    background-color: var(--color-section1); 
    text-align: center; 
    line-height: 60px;
    display: block; 
    color: white;
}
a.menu-toggle-btn i { 
    line-height: 60px;
}

.responsive-navigation { 
    position: relative; 
    width: 100%; 
    display: block;
    z-index: 9999; 
}

.responsive-menu {
    display: none;
    background-color: #495054;
}
.responsive-menu ul li a {
    color: white;
    text-transform: uppercase; 
    display: block;
    padding: 20px; 
    border-bottom: 1px solid #5a6267;
}


/********** Responsive Sizing Stuff *********************************************/

@media (max-width: 991px) {
    #main-content {
        width: 100%;
    }
  .first-footer { 
      border-left: 0; 
    }
  .flexslider .slides, .flexslider, .main-slider {
      height: auto; 
    }
  .resume-item {
      margin-bottom: 30px;
    }
  .progess-bars {
      margin-top: 40px;
    } 
}
@media (max-width: 767px) {
    .slider-caption a, .slider-caption p { 
        display: none; 
        top: 50px !important;
    } 
}
@media (max-width: 581px) {
    .slider-caption { 
        display: none;
    } 
}